.app {
    padding: 40px 50px;
}

.dropdown-container {
    position: relative;
}

.menu {
    position: absolute;
    top: 28px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.menu:focus {
    outline: none;
}

.menu-item {
    border: none;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid rgb(209, 209, 209);
}

.menu-item:first-child {
    border-radius: 3px 3px 0px 0px;
}

.menu-item:last-child {
    border-radius: 0px 0px 3px 3px;
}

.menu-item:focus {
    outline: none;
    background-color: rgb(50, 133, 250);
    color: white;
}
